<!-- Modal -->
<div id="rewardDeatilsOrErrorModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div id="rewardDetailsModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 class="first"></h3>
    </div>
    <div class="modal-body">
        <div id="rewards_details_body">
        	<div id="notificationDiv">
  		</div>
        	<div class="media">
    			<a class="pull-left" href="#">
      			<img class="media-object second" src="/assets/rewards/logo_1.png">
    			</a>		
  	  		<div class="media-body">
  	  			<p class="third"></p>
  	  			<hr>
  	  			<p><strong>Description:</strong><p>
  	  			<p class="fourth"></p>
  	  			<hr>
            <div class="alert alert-success notification">
            </div>
  	    		<p><button class='btn btn-danger fifth' type='button'></button></p>
  	      </div>
  	    </div>
  	   </div>
       <input type="hidden" class="status"/>
    </div>
    <div class="modal-footer">
      <button class="btn is_btn-custom" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
  <div id="errorModal">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3>Oh snap! You got an error!</h3>
    </div>
    <div class="modal-body alert alert-error first">
    </div>
    <div class="modal-footer">
        <button class="btn is_btn-custom" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
  </div>
</div>