<div>
<form method="get" action="/users" class="form-horizontal" >
 <input type="text" name="user_search" value="" />
 <input type="submit" name="search" value="User Search" />
</form>
</div>

<%= render 'list' %>
<div >
	 <a data-toggle="modal" href="#add-user" class="btn" >Add User</a>
	 <% @user = User.new %>
     <%= render 'form' %>

</div>
