<div>
<form method="get" action="/users">
 <input type="text" name="user_search" value="" />
 <input type="submit" name="search" value="Search" />
</form>
</div>

<%= render 'list' %>
<br />
<%= link_to 'New User', new_user_path %>
