<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

<%= render 'motor_policies/list' %>

<p>  <%= link_to 'Add Policy', {:controller => "motor_policies", :action => "new", :user_id => @user.id } %></p>