<form method="post" action="/home/callus" id="callUsForm">
  <fieldset style="margin:10px">
    <legend>Want us to call you</legend>
    <label>Mobile Number</label>
    <input type="text" name="mobile_number" placeholder="mobile number">
    <label>Email address</label>
    <input type="text" name="email_address" placeholder="abc@gmail.com">
    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>