<div class="is_right-hand-div">
	<div class="alert is_alert-heading" style="border-radius: 6px 6px 0 0;">
		<strong>Want us to call you</strong>
	</div>
	<div id="callUsFormNotificationDiv">
	</div>
	<div>
		<form method="post" action="" id="callUsForm" >
			  <fieldset>
				   <div class="control-group">
  						<label class="control-label" for="mobile_number">Mobile Number</label>
				  		<div class="controls">
				  			<div class="input-prepend">
					  			<span class="add-on"><i class="icon-mobile-phone"></i></span>
					    		<input type="text" id="mobile_number" name="mobile_number" placeholder="mobile number" class="input-medium"></input>
				    		</div>
				    	</div>
				    </div>    
				    <div class="control-group">
  						<label class="control-label" for="email_address">Email address</label>
				  		<div class="controls">
				  			<div class="input-prepend">
					  			<span class="add-on"><i class="icon-envelope"></i></span>				  			
				    			<input type="text" id="email_address" name="email_address" placeholder="abc@gmail.com" class="input-medium"></input>
				    		</div>				    			
				    	</div>
				    </div>  
				    <div class="control-group">
						<div class="controls">
							<button type="submit" class="btn is_btn-custom">Submit</button>
						</div>
					</div>  
			  </fieldset>
		</form>
	</div>
</div>