<div id="adsBannerDiv">
	<div class="is_right-hand-div-all-border">   
		<img src="/assets/ads/callback.jpg" usemap="#map1" />
		<map name="map1">
			<area shape="rect" coords="165,57,246,81" onclick="Callus.showCallUsForm();"  href="javascript:void(0);" style="cursor: pointer;" />
		</map>
	</div>
	<div class="is_right-hand-div-all-border">
		<img src="/assets/ads/Verdananewcashback.gif" usemap="#map2" />
		<map name="map2">
			<area shape="rect" coords="122,106,261,131" onclick="bootbox.alert('fill details over here');" href="javascript:void(0);" style="cursor: pointer;" />
			<area shape="rect" coords="147,126,265,154" onclick="showReferFriendForm();" href="javascript:void(0);" style="cursor: pointer;" />
		</map>
	</div>
	<div>
		<img src="/assets/ads/VerdanaNewSignup.png" usemap="#map3" style="height:168px;"/>
		<map name="map3">
			<!--<area shape="rect" coords="115,104,261,121" onclick="alert('fill details over here');" nohref="nohref" style="cursor: pointer;" />-->
			<area shape="rect" coords="0,0,261,144" href="/login" style="cursor: pointer;" />
		</map>		 
	</div>
</div>