<div id="adsBannerDiv">
	<div class="is_right-hand-div-all-border">   
		<a href="#" onClick="showCallUsForm(); return false;"><img src="/assets/callback.jpg"/></a>
	</div>
	<div class="is_right-hand-div-all-border">
		<a href="#" onClick="showReferFriendForm(); return false;"><img src="/assets/cashback.gif"/></a>
	</div>
	<div class="is_right-hand-div-all-border">
		 <a href="/login"><img src="/assets/signuptest.jpg"/></a>
	</div>
</div>