<div id="adsBannerDiv">
	<div class="is_right-hand-div-all-border">   
		<img src="/assets/callback.jpg" usemap="#map1" />
		<map name="map1">
			<area shape="rect" coords="165,57,246,81" onclick="showCallUsForm();"  nohref="nohref" style="cursor: pointer;" />
		</map>
	</div>
	<div class="is_right-hand-div-all-border">
		<img src="/assets/newcashback2.gif" usemap="#map2" />
		<map name="map2">
			<area shape="rect" coords="142,116,261,131" onclick="alert('fill details over here');" nohref="nohref" style="cursor: pointer;" />
			<area shape="rect" coords="167,136,265,154" onclick="showReferFriendForm();" nohref="nohref" style="cursor: pointer;" />
		</map>
	</div>
	<div class="is_right-hand-div-all-border">
		<img src="/assets/NewSignup.png" usemap="#map3" />
		<map name="map3">
			<area shape="rect" coords="115,104,261,121" onclick="alert('fill details over here');" nohref="nohref" style="cursor: pointer;" />
			<area shape="rect" coords="150,126,261,144" href="/login" style="cursor: pointer;" />
		</map>		 
	</div>
</div>