<!-- Modal -->
<div id="errorMessageModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Oh snap! You got an error!</h3>
  </div>
  <div class="modal-body alert alert-error" id="errorMessageModalBody">
  </div>
  <div class="modal-footer">
    <button class="btn is_btn-custom" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>