<div class="is_right-hand-div">
	<div class="alert is_alert-heading" style="border-radius: 6px 6px 0 0;">
		<strong>Help</strong>
	</div>
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item">
				<p>
					<strong>Compare, Buy and Earn.</strong>
				</p>
				<ul>
					<li>Compare price and features of Motor, Health and Travel Policy.</li>
					<li>Easy step to buy using Cash, Credit Card or Cheque.</li>
					<li>Earn Rewards points for every insurance purchase or refer a friend who buy insurance from us.</li>
				</ul>
			</div>
			<div class="item">
				<p>
					<strong>Our Services</strong>
				</p>
				<ul>
					<li>Guaranteed Lowest Premiums</li>
					<li>Neutral advise as we can provide Insurance from all Companies</li>
					<li>Strong Technical Domain Expertise</li>
					<li>Rewards for every purchase and reference</li>
					<li>Personalized and speedy claim services</li>
				</ul>
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div> 
