<div class="is_right-hand-div">
	<div class="alert is_alert-heading" style="border-radius: 6px 6px 0 0;">
		<strong>Help</strong>
	</div>
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="active item">
				<p>
					This will be carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>
			</div>
			<div class="item">
				<p>
					This will be carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>				
			</div>
			<div class="item">
				<p>
					This will be carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>
				<p>
					The slideshow below shows a generic plugin and component for cycling through elements like a carousel.
				</p>				
			</div>
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div> 
