<ul class="nav nav-list bs-docs-sidenav affix">
  <li><a tabindex="-1" href="#">Action</a></li>
  <li><a tabindex="-1" href="#">Another action</a></li>
  <li><a tabindex="-1" href="#">Something else here</a></li>
  <li><a tabindex="-1" href="#">Separated link</a></li>
</ul>