<ul class="nav nav-list bs-docs-sidenav is_affix">
  <li><%= link_to 'Users', admin_users_path %></li>
  <li><%= link_to 'Rewards', rewards_path %></li>
  <li><%= link_to 'Referrals', {:controller => "/loyalty", :action => "find_referrals" }  %></li>
  <li><%= link_to 'Cutomer Orders', orders_path  %></li>
  
</ul>