<form method="post" action="/loyalty/referance" id="referanceForm">
  <fieldset style="margin:10px">
    <legend>Refer Friend & Earn Money</legend>
    <label>Your Mobile Number</label>
    <input type="text" name="refer[mobile]" placeholder="Your Mobile"/>
    <label>Your Email address</label>
    <input type="text" name="refer[email]" placeholder="Email Address"/>
    <label>Referance Name</label>
    <input type="text" name="refer[ref_name]" placeholder="Referance Name"/>
    <label>Referance Mobile</label>
    <input type="text" name="refer[ref_mobile]" placeholder="Referance Mobile"/>
    <label>Referance Details</label>
    <textarea name="refer[ref_desc]" placeholder="Referance Details"> </textarea>

    <button type="submit" class="btn">Submit</button>
  </fieldset>
</form>