<div class="is_right-hand-div">
    <div class="alert alert-block">
        <strong>Refer Friend & Earn Money</strong>
    </div>
    <div>
        <form method="post" action="/loyalty/referral" id="referanceForm" class="callUsForm">
            <fieldset>
                <label>Your Mobile Number</label>
                <input type="text" name="refer[mobile]" placeholder="Your Mobile"/>
                <label>Your Email address</label>
                <input type="text" name="refer[email]" placeholder="Email Address"/>
                <label>Referral Name</label>
                <input type="text" name="refer[ref_name]" placeholder="Referral Name"/>
                <label>Referral Mobile</label>
                <input type="text" name="refer[ref_mobile]" placeholder="Referral Mobile"/>
                <label>Referral Details</label>
                <textarea name="refer[ref_desc]" placeholder="Referral Details"> </textarea>
                <button type="submit" class="btn is_btn-custom">Submit</button>
            </fieldset>
        </form>
    </div>
</div>
