    <div id="referFriendFormDiv" class="is_right-hand-div" style="display:none;">
        <div class="alert is_alert-heading" style="border-radius: 6px 6px 0 0;">
            <button type="button" class="close" onClick="__root__showAdsBanner(); return false;">&times;</button>
            <strong>Refer Friend & Earn Money</strong>
        </div>
        <div id="referralFormNotificationDiv">
        </div>
        <div>
            <form method="post" action="" id="referralForm" class="callUsForm">
                <fieldset>
                   <div class="control-group">
                        <label class="control-label" for="mobile">Your Mobile Number</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-mobile-phone"></i></span>
                                <input type="text" id="mobile" name="mobile" placeholder="Your Mobile" class="input-medium"></input>
                            </div>
                        </div>
                    </div> 
                   <div class="control-group">
                        <label class="control-label" for="email">Your Email address</label>
                        <div class="controls">
                            <div class="input-prepend">
                                <span class="add-on"><i class="icon-envelope"></i></span>
                                <input type="text" id="email" name="email" placeholder="abc@gmail.com" class="input-medium"></input>
                            </div>                              
                        </div>
                    </div> 
                   <div class="control-group">
                        <label class="control-label" for="ref_name">Referral Name</label>
                        <div class="controls input-prepend">
                            <span class="add-on"><i class="icon-user"></i></span>
                            <input type="text" id="ref_name" name="ref_name" placeholder="Referral Name" class="input-medium"></input>
                        </div>
                    </div> 
                    <div class="control-group">
                        <label class="control-label" for="ref_mobile">Referral Mobile</label>
                        <div class="controls input-prepend">
                            <span class="add-on"><i class="icon-mobile-phone"></i></span>
                            <input type="text" id="ref_mobile" name="ref_mobile" placeholder="Referral Mobile" class="input-medium"></input>
                        </div>
                    </div> 
                    <div class="control-group">
                        <label class="control-label" for="ref_desc">Referral Details</label>
                        <div class="controls">
                          <textarea id="ref_desc" name="ref_desc" rows="4" cols="10" ></textarea>
                        </div>
                    </div> 
                    <div class="control-group">
                        <div class="controls">
                           <button type="submit" class="btn is_btn-custom">Submit</button>
                        </div>
                    </div>  
                </fieldset>
            </form>
        </div>
    </div>