<div style="margin-bottom:20px;" id="userMenuDiv">
	<ul class="nav nav-list bs-docs-sidenav">
	  <li><%= link_to '<i class="icon-edit"></i> Edit Profile'.html_safe, edit_user_registration_path, :id => "editProfile"  %></li>
	  <li><a id="myPolicies" href="#"><i class="icon-book"></i>My Policies</a></li>
	  <li><a id="myReferrals" href="#"><i class="icon-group"></i>My Referrals</a></li>
	  <li><a id="myPoints" href="#"><i class="icon-magic"></i>My Points</a></li>
	  <li><a id="myRewards" href="#"><i class="icon-gift"></i>My Rewards</a></li>
	  <li><a id="myOrders" href="#"><i class="icon-thumbs-up"></i>My Orders</a></li>
	</ul>
</div>