<ul class="nav nav-list bs-docs-sidenav affix">
  <li><%= link_to 'Edit Profile', edit_user_registration_path  %></li>
  <li><%= link_to 'My Policies', {:controller => "policies", :action => "policies", :id => current_user.id } %></li>
  <li><%= link_to 'My Referances', {:controller => "loyalty", :action => "user_referances", :id => current_user.id } %></li>
  <li><%= link_to 'My Points', {:controller => "loyalty", :action => "rewards", :id => current_user.id } %></li>
 
</ul>