<div id="deviseDiv" class="is_main_content_div">
<div class="alert alert-block is_alert-heading is_main_content_header">
   <strong>About Us</strong>
</div>
<div class="is_main_content_body">
<p>In this world of uncertainty, we offer you protection against the unforeseen losses and secure your future. Rahini Insurance Advisors Pvt.  Ltd.is a proactive company established with a goal to provide customized and conservative general insurance solutions that are tailored according to the needs of the clients.</p>
<p>Rahini Insurance Advisors Pvt.  Ltd.is a professionally managed group of insurance consultants, operating in a highly competitive environment for the past more than a dacade,.Our People possess the specialized skill sets to provide you a Holistic Risk Management solution for your Assets and Liabilities.</p>
<p>Our insurance professionals work with our clients with integrity and transparency.  We evaluate risks, examine various options available, negotiate with multiple insurance companies for the best rate and coverage and, all on behalf of the client.</p>
<p>Our professionals market the customized services of General Insurance. Operating with highly rated insurance companies. Our professionals are proactive and responsive in the ever-changing financial environment. We continuously monitor industry horizons for emerging trends and deliver information of value that strategically positions our clients to exceed their objectives.</p>
<p><strong>Our USP’s:</strong></p>
 
<p>At Ideal, we live by the following fundamental principles - and they are what truly differentiate us from others.
<ul>
<li>HONEST RELIABLE ONTIME…EVERYTIME</li>
<li>Guaranteed Lowest Premiums</li>
<li>Neutral advise as we can provide Insurance from all Companies</li>
<li>24 Hour customer support backed by a dedicated team</li>
<li>Transparent and Fair</li>
<li>Strong Technical Domain Expertise</li>
<li>Rewards for every purchase and reference</li>
<li>Personalized and speedy claim services</li>
</ul>
</p>
<p>In this environment, the winners will be companies that can turn the challenges into opportunities to build stronger and more enduring customer relationships; sharpen process efficiency; unlock talent and creativity; use improved risk management processes and use new regulatory demands as a catalyst for strengthening the business and enhancing market confidence.</p>
<p>However, in Insurance sector there is an information gap between the insurer and the customer that needs to be bridged in a fair manner. The sheer variety of insurance products available and the hassles of claims processing can confound the best professional. This necessitates the existence of Insurance advisors to bring more order and transparency to the insurance sector.</p>
 
<p>With a team of more than 100 people and a service network, we sure can add value to your Insurance Portfolio, both in terms of Cost and Quality.</p>

</div>
</div>
<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
<%= javascript_tag do %>
  window.content = "devise";
<% end %> 
