<fieldset>
  <legend>Motor Insurance Configurations </legend>
    <div>
    <%= link_to 'IDV Chart', idv_charts_path %>
    </div>
    <div>
    <%= link_to 'Motor Discount', motor_discounts_path %>
    </div>
    <div>
    <%= link_to 'RTO', rtos_path %>
    </div>
    <div>
    <%= link_to 'Motor Quote Requests', motor_searches_path %>
    </div>
</fieldset>
