<div id="deviseDiv" class="is_right-hand-div">
<div class="alert alert-block is_alert-heading">
   <h3>Disclaimer</h3>
</div>
<div class="content">
<p>Insuranceshopee.com intends to provide clear information about insurance products and services. The information and data are generic in nature. Insuranceshopee.com has taken all necessary precautions to ensure that the information contained on this web site is current, accurate and complete at the date of publication. No representations or warranties are made (express or implied) as to the reliability, accuracy or completeness of such information. Customers are advised to use their own discretion in such matters.  Employees, partners and associated staff of Insuranceshopee.com cannot be held liable for any loss arising directly or indirectly from the use of, or any action taken in on, any information appearing on this web site.</p>
<p>It is important to understand that insurance is a subject matter of solicitation and market risks. It is the responsibility of the customer to understand the limitations of insurance policies and the risks involved, we take no liability in such cases.</p>
<p>There is no purpose of violating any copyright or intellectual copyrights issue. All information provided on the portal Insuranceshopee.com is subject to the discretion of the same and is likely to change without any notice. Though, any changes in public utility will be communicated immediately in our portal.</p>
<p>Read the subject documents carefully. The information provided on the portal is of financial, insurance and legal purposes. It is a mutual understanding that customers association with the portal will be at the customer's preference and risk.</p>
<p>The information published on the Insuranceshopee.com web site should be used for information purposes only. It is subject to change without notice and should not be taken as advice.</p>
<p>There is no guarantee or warranty that the site is free from any virus or other malicious, destructive or corrupting code, program or macro.</p>
</div>

</div>

<% content_for :insuranceContent do %>
  <%= render :partial => "welcome/index", :locals => { :display => "none" } %>
<% end %>
