<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Motor Insurance</a></li>
    <li><a href="#tab2" data-toggle="tab">Health Insurance</a></li>
     <li><a href="#tab3" data-toggle="tab">Home Insurance</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

    	 <ul class="breadcrumb">
  			 <li class="active">Calculate Premium<span class="divider">/</span></li>
  			 <li>Results<span class="divider">/</span></li>
  			 <li>Enter details and Review</li>
		   </ul>

    	<div class="accordion" id="accordion1">

    		<div id="quoteFormAccordion" class="accordion-group">
    			<div class="accordion-heading">
    				<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne"><i class="icon-arrow-up"></i>Motor Quote Form</a>
      		</div>
				  <div id="collapseOne" class="accordion-body collapse in">
      				<div class="accordion-inner">
      					<%= render "motor_quote_form" %>
      				</div>
    			</div>
  			</div>

		   	<div id="quoteResultsAccordion" class="accordion-group">
		    	<div class="accordion-heading">
		      		<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo"><i class="icon-arrow-down"></i>Results</a>
		    	</div>
		    	<div id="collapseTwo" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		Looks like you did not fill in the form...
		      		</div>
		    	</div>
		  	</div>

		   	<div id="quoteResultsBuyAccordion" class="accordion-group">
		    	<div class="accordion-heading">
		      		<a id="link" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree"><i class="icon-arrow-down"></i>Insured Contact Details</a>
		    	</div>
		    	<div id="collapseThree" class="accordion-body collapse">
		      		<div id="table"class="accordion-inner">
		        		<%= render "contact_details_form" %>
		      		</div>
		    	</div>
		  	</div> 		  	 
		</div>

		<%= render 'premium_breakup' %>

    </div>
    <div class="tab-pane" id="tab2">
      <p>Coming very soon.</p>
    </div>
        <div class="tab-pane" id="tab3">
      <p>Coming very soon.</p>
    </div>
  </div>
</div>