<div id="tabs">
    <ul>
        <li><a href="#tabs-1">Motor Insurance</a></li>
        <li><a href="#tabs-2">Health Insurance</a></li>
        <li><a href="#tabs-3">Home Insurance</a></li>
    </ul>
    <div id="tabs-1">
		<form action="">
			<div id="basicDetails">
			
				<div id="currentInsuranceDetails">
					Type Of Policy
					<input type="radio" name="policyType" value="N">Buy insurance for a new car
					<input type="radio" name="policyType" value="R">Renew existing or lapsed car policy from any insurer
				</div>

				<div id="registrationDetails">
					City where the car is registered(RTO)
					<input type="text">
					<br/>
					First Purchase or Registration Date 
					<select id="day" name="day"></select>
					<select id="month" name="month"></select>
					<select id="year" name="year"></select>
					<br/>
					Current Registration Type
					<input type="radio" name="registrationType" value="I">Individual
					<input type="radio" name="registrationType" value="C">Company
				</div>
				
				<div id="vehicleDetails">
					Manufacturer
					<select id="make" name="make"></select>	
					<br/>
					Model
					<select id="model" name="model"></select>
					<br/>
					Ex-showroom Price			
				</div>			
				
			</div>
			<div id="additionalDetails">
			</div>
		</form>
    </div>
    <div id="tabs-2">
        <p>Coming very soon.</p>
    </div>
    <div id="tabs-3">
        <p>Coming very soon.</p>
    </div>
</div>