<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Motor Insurance</a></li>
    <li><a href="#tab2" data-toggle="tab">Health Insurance</a></li>
     <li><a href="#tab3" data-toggle="tab">Home Insurance</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
		<form action="">
			<div id="basicDetails">
				
				<div id="currentInsuranceDetails" class="border">
					Type Of Policy
					<input type="radio" id="policyType" name="policyType" value="N">Buy insurance for a new car
					<input type="radio" id="policyType" name="policyType" value="R" checked="checked">Renew existing or lapsed car policy from any insurer
				</div>

				<div id="registrationDetails" class="border">
					City where the car is registered(RTO)
					<input id="city" type="text">
					<br/>
					First Purchase or Registration Date 
					<select id="day" name="day"></select>
					<select id="month" name="month"></select>
					<select id="year" name="year"></select>
					<br/>
					Current Registration Type
					<input type="radio" name="registrationType" value="I" checked="checked">Individual
					<input type="radio" name="registrationType" value="C">Company
				</div>
				
				<div id="vehicleDetails" class="border">
					Manufacturer
					<select id="make" name="make"></select>	
					<br/>
					Model
					<select id="model" name="model"></select>
					<br/>
					Ex-showroom Price  <span id="price"></span>			
				</div>	
						
			</div>
			
			<div id="previousPolicyDetails" class="border">
					Previous policy type
					<input type="radio" name="prevPolicyType" value="C" checked="checked">Comprehensive
					<input type="radio" name="prevPolicyType" value="T">Third Party
					<br/>
					<input type="checkbox"> click here in case your vehicle is uninsured for more than 6 months
					<br/>
					Previous policy end date 
					<select id="day" name="day"></select>
					<select id="month" name="month"></select>
					<select id="year" name="year"></select>
					New Policy Start Date
					<br/>
					<input type="checkbox" checked="checked"> Previous policy was a full year policy
					<br/>
					Claims made in previos policy?
					<input type="radio" name="claimsMade" value="Y">Yes
					<input type="radio" name="claimsMade" value="N" checked="checked">No
					<br/>
					NCB % on previous policy
					<select id="ncb" name="ncb"></select>
					<br/>
					<input type="checkbox" checked="checked"> No claim bonus declaration verified	
			</div>
		</form>
    </div>
    <div class="tab-pane" id="tab2">
      <p>Coming very soon.</p>
    </div>
        <div class="tab-pane" id="tab3">
      <p>Coming very soon.</p>
    </div>
  </div>
</div>