<!-- Modal -->
<div id="policy_compare_model" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body">
      <div id="policy_compare_table">
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn is_btn-custom" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>