// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";

$grayBgColor:	rgba(128, 128, 128, 0.1);	

// Mixin for form field states
@mixin _iSFormFieldState($textColor: #555, $borderColor: #ccc, $backgroundColor: #f5f5f5) {
  // Set the text color
  .help-block,
  .help-inline {
    color: $textColor;
  }
  // Style inputs accordingly
  input,
  select,
  textarea {
    border-color: $borderColor;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($borderColor, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($borderColor, 20%));
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: $textColor;
    background-color: $backgroundColor;
    border-color: $textColor;
  }
}

//Id selectors
//*************************************************************
#callUsForm{
	background-color: $grayBgColor;
	border: 2px;
	border-style: solid;
	border-color: $grayBgColor;
	border-radius: 8px 8px 8px 8px;
}

#motor_breakup_model {
    width: 700px; 
    margin: -250px 0 0 -350px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

#motorQuoteForm > div {
  margin-bottom: 10px;
}

//Class selectors
//*************************************************************
._iSBorder{
	border: 1px solid orange;
}

._iSNoBorder{
	border: none;
}

._iSLargeBadge{
	font-size: $baseFontSize * 1.2;
}

._iSHandCursor{
	cursor: hand; 
    cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

// Error
.control-group._iSError {
  @include _iSFormFieldState($errorText, $errorText, $errorBackground);
}

//Element selectors
//*************************************************************
legend{
	margin: 0px;
	border: 0px;
	font-weight: bold;
	font-size: $baseFontSize;	
	text-align: center;
	width: 200px;
}