// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";

$grayBgColor:	rgba(128, 128, 128, 0.1);	

._iSBorder{
	border: 1px solid orange;
}

._iSNoBorder{
	border: none;
}

._iSLargeBadge{
	font-size: $baseFontSize * 1.2;
}

._iSHandCursor{
	cursor: hand; 
    cursor: pointer;
}

#callUsForm{
	background-color: $grayBgColor;
	border: 2px;
	border-style: solid;
	border-color: $grayBgColor;
	border-radius: 8px 8px 8px 8px;
}


legend{
	margin: 0px;
	border: 0px;
	font-weight: bold;
	font-size: $baseFontSize;	
	text-align: center;
	width: 200px;
}

a:hover {
	text-decoration: underline;
}

a:link, a:visited, a:active {
	text-decoration: none;
}


#motor_breakup_model {
    width: 700px; 
    margin: -250px 0 0 -350px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}