// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap/variables";
@import "bootstrap/mixins";

// Mixin for form field states
@mixin _iSFormFieldState($textColor: #555, $borderColor: #ccc, $backgroundColor: #f5f5f5) {
  // Set the text color
  .help-block,
  .help-inline {
    color: $textColor;
  }
  // Style inputs accordingly
  input,
  select,
  textarea {
    border-color: $borderColor;
    @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075)); // Redeclare so transitions work
    &:focus {
      border-color: darken($borderColor, 10%);
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px lighten($borderColor, 20%));
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: $textColor;
    background-color: $backgroundColor;
    border-color: $textColor;
  }
}

//Id selectors
//*************************************************************

#motor_breakup_model {
    width: 700px; 
    margin: -250px 0 0 -350px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

#policy_compare_model {
    width: 900px; 
    margin: -250px 0 0 -450px; /* CHANGE MARGINS TO ACCOMODATE THE NEW WIDTH (original = margin: -250px 0 0 -280px;) */
}

#motorQuoteForm > div {
  margin-bottom: 10px;
}

//Class selectors
//*************************************************************
.is_border{
	border: 1px solid #DAE2EB;
}

.is_no-border{
	border: none;
}

.is_large-badge{
	font-size: $baseFontSize * 1.2;
}

.is_hand-cursor{
	cursor: hand; 
    cursor: pointer;
}

a:hover {
	text-decoration: underline;
}

a:link, a:visited, a:active {
	text-decoration: none;
}

// Error
.control-group._iSError {
  @include _iSFormFieldState($errorText, $errorText, $errorBackground);
}

.is_btn-custom {
  background-color: hsl(204, 100%, 30%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005b99", endColorstr="#005b99");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#005b99), to(#005b99));
  background-image: -moz-linear-gradient(top, #005b99, #005b99);
  background-image: -ms-linear-gradient(top, #005b99, #005b99);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005b99), color-stop(100%, #005b99));
  background-image: -webkit-linear-gradient(top, #005b99, #005b99);
  background-image: -o-linear-gradient(top, #005b99, #005b99);
  background-image: linear-gradient(#005b99, #005b99);
  border-color: #005b99 #005b99 hsl(204, 100%, 30%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.00);
  -webkit-font-smoothing: antialiased;
}

.is_right-hand-div {
  background-color: $isBackground;
  border-bottom: 2px solid $isHeaderBg;
  border-radius: 8px 8px 8px 8px;
  margin-bottom: 20px;
}

.is_right-hand-div form {
  margin:10px
}

.is_alert-heading {
  background-color: $isHeaderBg;
  //border-color: #4284D3;
  color: $white;
}

.is_center.navbar .nav,
.is_center.navbar .nav > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    *zoom:1; /* hasLayout ie7 trigger */
    vertical-align: top;
}

.is_center.navbar .nav > li > a{
  padding: 4px 16px;
}

.is_center .navbar-inner {
    text-align:center;
}

.is_breadcrumb.progress{
  height:20px;
}

.is_breadcrumb.progress .bar-danger{
  @include gradient-vertical($red, $red);
}

.is_breadcrumb.progress .bar-warning{
  @include gradient-vertical($isBarWarning, $isBarWarning);
}

.is_breadcrumb.progress .bar-success{
  @include gradient-vertical($green, $green);
}

.is_helpIcon{
  font-size: 14px; color: $green;
}

.is_redBorderAndBg{
 background-color: #188A00;
 color: $white;
 font-weight: bolder;
}



//Element selectors
//*************************************************************
legend{
	margin: 0 0 0 35%;
	border: 0px;
	font-weight: bold;
	font-size: $baseFontSize;	
	text-align: center;
	width: 200px;
}

.table{
  background-color: $white; 
  thead{
    th {
      color: $isBrand;
      background-color: #4284D3;
      font-weight: bolder;
    } 
  }
}

 .ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
