<div id="quoteBuyFormNotificationDiv">
</div>
<form action="" id="quoteBuyForm" class="form-horizontal">
  <div id="buyQuote">
  
  </div>
  <p>Insurance Advisor will contact you within 12 hours. Please provide the following details to collect documents and paymment<br/></p>
  <fieldset>
    <div class="control-group">
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" name="name" placeholder="Name"></input>
      </div>
    </div>
  	<div class="control-group">
  		<label class="control-label" for="mobileNumber">Mobile Number</label>
  		<div class="controls">
    		<input type="text" id="mobileNumber" name="mobile_number" placeholder="mobile number"></input>
    	</div>
    </div>
  	<div class="control-group">
  		<label class="control-label" for="emailAddress">Email address</label>
  		<div class="controls">
    		<input type="text" id="emailAddress" name="email_id" placeholder="abc@gmail.com"></input>
    	</div>
    </div>    
  	<div class="control-group">
  		<label class="control-label" for="address">Address</label>
  		<div class="controls">
    		<textarea id="address" name="address" rows="5"></textarea>
    	</div>
    </div>
    <div class="control-group">
		<div class="controls">
			<button type="submit" class="btn is_btn-custom">Submit</button>
		</div>
	</div>  
  </fieldset>
  <br/>
  <pre  class="alert alert-info" >
    <strong>Documentation Required - </strong>
    1) Age Proof (Passport/Driving License/Voter Id/Aadhaar)
    2) Identity Proof (PAN card/Passport/Voter Id/Aadhaar)
    3) Photograph (Passport size)
  </pre>
</form>