<div>
	<div  class="navbar navbar-fixed-bottom center">
		<div class="navbar-inner">
			<div class="container" style="height: 20px;">
				<ul class="nav">
		          <li>
		            <%= link_to 'First', my_page_path('first') %>
		          </li>
		          <li>
		            <%= link_to 'Second', my_page_path('second') %>
		          </li>
		          <li>
		            <%= link_to 'Third', my_page_path('third') %>
		          </li> 
				</ul>
			</div>
		</div>
	</div>
</div> 