<div>
	<div  class="navbar navbar-fixed-bottom center" style="height: 20px;">
		<div class="navbar-inner">
			<div class="container">
				<ul class="nav">
		          <li>
		            <%= link_to 'About UI', new_user_registration_path %>
		          </li>
		          <li>
		            <%= link_to 'Contact Us', new_user_registration_path %>
		          </li>
		          <li>
		            <%= link_to 'Disclaimer', new_user_registration_path %>
		          </li> 
				</ul>
			</div>
		</div>
	</div>
</div> 