<div>
	<div  class="navbar navbar-fixed-bottom is_center" style="height: 20px;">
		<div class="navbar-inner"  id="footerLevelNavBar">
			<div class="container">
				<ul class="nav">
		          <li>
		            <%= link_to '<i class="icon-group"></i> About Us'.html_safe, new_user_registration_path %>
		          </li>
		          <li>
		            <%= link_to '<i class="icon-envelope"></i> Contact Us'.html_safe, new_user_registration_path %>
		          </li>
		          <li>
		            <%= link_to '<i class="icon-warning-sign"></i> Disclaimer'.html_safe, new_user_registration_path %>
		          </li> 
				</ul>
			</div>
		</div>
	</div>
</div> 