<div id="footerLevelNavBar" role="main" >
	<div class="container">
		<div class="content">



			<div class="row">
				<div class="span2">
				</div>
				<div class="span8">
					<div style="padding-bottom:20px; border-bottom: 1px solid #e4e4e4" class="row" id="logoCarou">
	                    <img src="/assets/company/logo/logo_1.png" alt=""/>
	                    <img src="/assets/company/logo/logo_2.png" alt=""/>
	                    <img src="/assets/company/logo/logo_3.png" alt=""/>
	                    <img src="/assets/company/logo/logo_4.png" alt=""/>	
	                    <img src="/assets/company/logo/logo_5.png" alt=""/>
	                    <img src="/assets/company/logo/logo_6.png" alt=""/>
	                    <img src="/assets/company/logo/logo_7.png" alt=""/>
	                    <img src="/assets/company/logo/logo_8.png" alt=""/>
	                    <img src="/assets/company/logo/logo_9.png" alt=""/>	
	                    <img src="/assets/company/logo/logo_10.png" alt=""/>
	                    <img src="/assets/company/logo/logo_11.png" alt=""/>	
	                   	<img src="/assets/company/logo/logo_12.png" alt=""/>
	                   	<img src="/assets/company/logo/logo_13.png" alt=""/>	   	 	                   		   	                                        
					</div>
			        <div style="float:left; padding-top:20px; padding-bottom:20px; border-bottom: 1px solid #e4e4e4" class="row">
			            <div class="span2"style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>insuranceshopee</strong>
			                 </span>
							<ul class="nav">
								<li><a href="/home/contactus">Contact Us</a></li>
							    <li><a href="/home/aboutus">About Us</a></li>
							    <li><a href="/home/faq">FAQ</a></li>  
							    <li><a href="/home/contactus">Send an Advisor</a></li>
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>Resources</strong>
			                </span>
							<ul class="nav">
					            <li><a href="/">Motor Insurance</a></li>  
							    <li><a href="/home/aboutus">Health Insurance</a></li>
							    <li><a href="/home/faq">Travel Insurance</a></li>  
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>Services</strong>
			                </span>
							<ul class="nav">
					            <li><a href="#">Rewards Program</a></li>  
					            <li><a href="#">Free Quotes</a></li>  					            
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>connect</strong>
			                </span>
							<ul class="nav">
					            <li><a href="#">Facebook</a></li>  
					            <li><a href="#">Linkedin</a></li>  					            
				        	</ul>
			            </div> 			                        
			        </div>
			        <div class="row">
        	            <div class="span3 offset2" style="padding-top:10px;">
                            <span>@2013-2014 Insuranceshopee.com</span>
                        </div>
			        </div>  			                	
			    </div>
				<div class="span2">
				</div>
			</div>


		</div>
	</div>
</div>

