<div id="footerLevelNavBar" role="main" >
	<div class="container">
		<div class="content">



			<div class="row">
				<div class="span2">
				</div>
				<div class="span8">
			        <div class="row"  style="float:left">
			            <div class="span2"style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>insuranceshopee</strong>
			                 </span>
							<ul class="nav">
								<li><a href="/home/contactus" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Contact Us</a></li>
							    <li><a href="/home/aboutus" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">About Us</a></li>
							    <li><a href="/home/faq" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">FAQ</a></li>  
							    <li><a href="/home/contactus" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Send an Advisor</a></li>
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>Resources</strong>
			                </span>
							<ul class="nav">
					            <li><a href="/" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Motor Insurance</a></li>  
							    <li><a href="/home/aboutus" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Health Insurance</a></li>
							    <li><a href="/home/faq" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Travel Insurance</a></li>  
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>Services</strong>
			                </span>
							<ul class="nav">
					            <li><a href="#" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Rewards Program</a></li>  
					            <li><a href="#" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Free Quotes</a></li>  					            
				        	</ul>
			            </div>
			            <div class="span2" style="float:left">
				        	<span style="text-transform: uppercase;">
			                    <strong>connect</strong>
			                </span>
							<ul class="nav">
					            <li><a href="#" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Facebook</a></li>  
					            <li><a href="#" style="border-bottom: 1px solid #e4e4e4; padding-left: 0px;">Linkedin</a></li>  					            
				        	</ul>
			            </div> 			                        
			        </div>
			        <div class="row">        	
			        </div>                            
			    </div>
				<div class="span2">
				</div>
			</div>


		</div>
	</div>
</div>

